.teamHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    background-color: white;
    color: black;
    padding: 5px 20px;
    margin-top: 20px;
}

.teamDiv{
    padding: 0px;
}

.teamName{
  font-size: 4vh;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button{
    border: none;
    padding: 8px 8px;
    font-size: 15px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 10px 0px;
    margin-right: 20px;
    width: fit-content;
    display: inline-block;
    transition-duration: .2s;
}
.button:hover{
    background-color: rgb(49, 49, 49);
    color: rgb(172, 172, 172);
}
.active{
    background-color: white;
    color: black;
}
.inactive{
    background-color: black;
    color: white;
  }
.teamContent, .buttons{
    padding-left: 3%;
    padding-right: 3%;
}

.teamStats{
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.teamStats > div{
    margin-bottom: 10px;
}

.matchesStats{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content: center;
}

.matchesStat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    font-size: 25px;

}

.matchesStat > h5, .matchesStat > span{
    margin: 0;
    font-size: 24px;
    font-weight: 800;

}

.matchesStats > :nth-child(1){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.matchesStats > :nth-child(2){
    color: #47b155;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    
}
.matchesStats > :nth-child(3){
    color: #e4db5c;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
}


.matchesStats > :nth-child(4) {
    color: #ff6060;
    grid-row: 2 / 3;
    grid-column: 3 / 4;

}

/* * Puntos obtenidos */

.pointsStats{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.data{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 15px;

}
.dataLight{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px
}

.player > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.background{
    position: absolute;
    opacity: 0.05;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.teamContent2{
    z-index: 2;
    position: relative;
}

.teamContent2 > div{
    margin-bottom: 10px;
}

.lastTournament{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.playing, .finished{
    font-weight: 300;
    font-size: 12px;
    padding: 0 5px;
}

.playing{
    background-color: #47b155;
}
.finished{
    background-color: #ff6060;
}