.tournament{
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 15px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tournamentTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin-bottom: 10px;
}

.h4{
    margin: 0;
    font-size: 23px;
    line-height: 25px;
}

.tournamentData{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

}

.playing, .finished{
    font-weight: 500;
    font-size: 20px;
    padding: 5px 10px;
    width: fit-content;

}

.playing{
    background-color: #47b155;
}
.finished{
    background-color: #ff6060;
}

.position{
    font-weight: 900;
}


.teamStats{
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.teamStats > div{
    margin-bottom: 10px;
}

.matchesStats{
    line-height: normal;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 10px 0px;
}

.matchesStats > div, .goalsStat{
    background-color: black;
}

.matchesStats > :first-child{
    color: white;
}

.matchesStat, .goalsStat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    min-width: 20%;
}

.matchesStat > h5, .matchesStat > span{
    margin: 0;
    font-weight: 700;

}

.matchesStats > :nth-child(1){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.matchesStats > :nth-child(2){
    color: #47b155;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    
}
.matchesStats > :nth-child(3){
    color: #e4db5c;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

}

.matchesStats > :nth-child(4) {
    color: #ff6060;
    grid-row: 2 / 3;
    grid-column: 3 / 4;

}

.goalsStats{
    grid-template-rows: repeat(2, auto);
    text-align: center;
    gap: 10px;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.goalsStat{
    font-weight: 700;
    padding: 20px 0px;
    width: fit-content;
    padding: 2px 10px;
    min-width: 20%;
    color: white;
}

.green{
    color: #47b155;
}

.red{
    color: #ff6060;
}
