body{
    background-image: 
    radial-gradient(#1a1a1a 2px,  black  2px),
    radial-gradient(black 2px, #3a3a3a 2px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    height: 100vh;
    place-items: center;
}


* {
    box-sizing: border-box;
}
a{
  text-decoration: none;
  cursor: pointer;
}

main{
    background-color: #403d39;
    opacity: 1;
    background: linear-gradient(135deg, #25242255 25%, transparent 25%) -14px 0/ 28px 28px, linear-gradient(225deg, #252422 25%, transparent 25%) -14px 0/ 28px 28px, linear-gradient(315deg, #25242255 25%, transparent 25%) 0px 0/ 28px 28px, linear-gradient(45deg, #252422 25%, #403d39 25%) 0px 0/ 28px 28px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: relative;
    width: 100%;

}

main > div {
    padding: 20px ;
}

h1{
    margin: 0;
}

@media (min-width: 500px){
    main {
    height: 90vh;
    width: 450px;

    }
}

/* * TABLES */

table {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  height: auto;
  text-align: center;
  border-spacing: 5px;
}
td, th {
  padding: 3px 5px;
  border-radius: 12px;
  
}
td {
  font-size: 16px;
  color: black;
  height: 100%;
  overflow: hidden;
  max-width: 170px;

}
tr{
  height: 30px;
  border-spacing: 5px 1rem;
  border-radius: 12px;
}

td:first-child{
  min-width: 25px;
  border-radius: 12px;

}
tbody tr{
  background-color: #ffffff;
  opacity: 1;
  overflow: hidden;
}
thead {
  background: #000000;
}
th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
}
th:first-child {
  border-left: none;
}

tbody > :first-child{
  background-color: #89B9AD;
  opacity: 1;
  
}
tbody > :nth-child(n+2):nth-child(-n+4) {
  background-color: #C7DCA7;

}


tbody > :nth-last-child(-n+2) {
  background-color: #FFC5C5;

}